[submodule "themes/icon"]
	path = themes/icon
	url = https://github.com/SteveLane/hugo-icon.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
