<div id="fh5co-contact" data-section="contact">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      {{ with .Site.Params.contact }}
      <h2>{{ .title }}</h2>
      <p>{{ .message | markdownify }}</p>
      {{ end }}
	</div>
	<!--
    <form name="contact-form" netlify-honeypot="_gotcha" action="thank-you" netlify>
      <div class="row">
	<div class="col-md-6">
	  <div class="form-group">
	    <label for="inputName">First name</label> 
		  {{ with .Site.Params.contact }}
	    <input type="text" class="form-control" id="inputName" placeholder="{{ .name_placeholder }}" name="_name">
		  {{ end }}
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="form-group">
			{{ with .Site.Params.contact }}
	    <input type="email" class="form-control" id="inputEmail" placeholder="{{ .email_placeholder }}" name="_replyto" required>
	    <small id="emailHelp" class="form-text text-muted">{{ .email_disclaimer }}</small>
		  {{ end }}
	  </div>
	</div>
	<div class="col-md-12">
	  <div class="form-group">
		  {{ with .Site.Params.contact }}
	    <textarea class="form-control" id="inputBody" cols="30" rows="7" placeholder="{{ .message_placeholder }}" name="message"></textarea>
		  {{ end }}
	  </div>
	</div>
	<div class="col-md-12">
	  <div class="form-group">
	    <input type="hidden" name="_subject" value="New website query">
	    <input type="text" name="_gotcha" style="display:none">
	    <button type="submit" class="btn btn-primary btn-outline" value="Send">{{ with .Site.Params.contact }}{{ .button_text }}{{ end }}</button>
	    <input type="submit" name="submit" value="Send message" class="btn btn-primary btn-outline"> 
	  </div>
	</div>
      </div>

	</form>-->
	<div class="col-md-12 text-center">
		<p>
			<!--<a href="mailto:bjoern@sustainable-credit.solutions.eu" class="btn btn-primary btn-outline fh5co-content-nav" data-nav-section="contact">Get In Touch directly</a>-->
			<a href="mailto:bjoern@sustainable-credit.solutions.eu">Get in touch directly</a> or sign up for our mailing list below.
		</p>
	  </div>

	  <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<style type="text/css">
	#mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
	#mergeRow-gdpr {margin-top: 20px;}
	#mergeRow-gdpr fieldset label {font-weight: normal;}
	#mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
</style>
<div id="mc_embed_signup">
<form action="https://sustainable-credit-solutions.us4.list-manage.com/subscribe/post?u=ab5b5678e4348c380feba4e33&amp;id=a7bc863c9c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab5b5678e4348c380feba4e33_a7bc863c9c" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

  </div>
</div>
